dearpygui==1.10.1
Pillow==10.2.0  # для работы с изображениями
pystray==0.19.5  # для работы с системным треем
psutil==5.9.8  # для работы с процессами
requests==2.31.0  # для HTTP запросов
python-dotenv==1.0.1  # для работы с переменными окружения
websockets>=12.0  # для WebSocket соединения
cryptography>=42.0.0  # для шифрования
pyinstaller==6.3.0 